div{
    display: inline;
    
}
button{
    margin: 15px;
    
}
.input{
    width: 270px;
    padding: 10px;
    margin: 10px ;
    font: 18px;
    border: 1px solid #e0e0d1;
    border-radius: 5px;
}