<div class="container">

  

    <button type="button" (click)="onAddUserClick()" Class="btn btn-outline-success btn-lg col-2" *ngIf="click!=1 && edit==0 && cancel==0">Add User</button>
    <button type="button" (click)="onCloseClick()" Class="btn btn-outline-danger btn-lg col-2" *ngIf="click==1 && edit==0 && cancel==1">Close</button>
    <button type="button" (click)="onCancelClick()" Class="btn btn-outline-danger btn-lg col-2" *ngIf=" edit==1 ">Cancel Edit</button>
    <button type="button" (click)="onDeleteClick()" Class="btn btn-outline-danger btn-lg col-2" *ngIf=" edit==1 ">Delete</button>
    <button type="button" (click)="onUpdateClick()" Class="btn btn-outline-success btn-lg col-2" *ngIf="edit==1 ">Update</button>
    


    <div class="input-group col-10 " *ngIf="click==1 && edit==0 && cancel==1 "  >
      <input  [ngClass]='class1' type="email" placeholder="Email" [(ngModel)]="user.email">
      <input  [ngClass]='class1' type="text" placeholder="FirstName" [(ngModel)]="user.name">
      <input  [ngClass]='class1' type="text" placeholder="LastName" [(ngModel)]="user.family">

      <button  class="btn btn-success btn-lg" (click)="onAddRow()">Add</button>
    </div>

  

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Email</th>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let name of users" (click)="onClickRow(name)">
        
        <td *ngIf="name.id == row &&  edit==1">
          <input type="text" class="form-control" [ngClass]='class1' [(ngModel)]="name.email "   [(ngModel)]="newAttribute.email"> </td>
        <td *ngIf="name.id != row || edit==0 " >{{name.email}}</td>
        <td *ngIf="name.id == row  && edit==1 ">
          <input type="text" class="form-control" [ngClass]='class1' [(ngModel)]="name.name" [(ngModel)]="newAttribute.name">
        </td>
        <td *ngIf="name.id != row || edit==0" >{{name.name}}</td>
        <td *ngIf="name.id == row  && edit==1">
          <input type="text" class="form-control" [ngClass]='class1' [(ngModel)]="name.family" [(ngModel)]="newAttribute.family"> </td>
        <td *ngIf="name.id != row  || edit==0" >{{name.family}}</td>
      </tr>
    </tbody>
  </table>

</div>
